body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#333);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signbox {
  background: blanchedalmond;
  border-radius: 15px;
  padding: 40px 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field {
  margin-bottom: 18px;
}

b {
  font-weight: 500;
  color: #333;
}

.inp {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.inp:focus {
  border-color: #66a6ff;
  box-shadow: 0 0 5px rgba(102, 166, 255, 0.5);
}

input[type="submit"] {
  background: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.anc {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: purple;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.anc:hover {
  text-decoration: underline;
}

.haveacc {
    margin-left: 80px;
    font-weight: bold;
}