body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#333);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.todo {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.todobox {

  background: blanchedalmond ;
  border-radius: 15px;
  padding: 40px 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;

}

.inp {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.inp:focus {
  border-color: #66a6ff;
  box-shadow: 0 0 5px rgba(102, 166, 255, 0.5);
}
